<h1>All Questions</h1>
<div class="form-group">
   <%= link_to "New", new_question_path, class: 'btn btn-success' %>
</div>
<% @questions.each do |q| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to q.title, q %>
       </h4>
     </div>
   </div> 
<% end %>