<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You will now be notified of new comments to "<%= @post.title %>"</h1>
    <p>
      <%= @post.body %>
    </p>
    <%= link_to "View post on the site", topic_post_url(@post.topic, @post) %>
  </body>
</html>