<h1>Sign Up Confirmation</h1>
<h2>Are you sure these values are correct?</h2>
<br>
<p>
  Email: <span><%= @user.email %></span>
</p>
<p>
  Name: <span><%= @user.name %></span>
</p>
<div class="col-xs-2">
  <%= button_to 'No', { controller: "users", action: "new", params: params }, class: 'btn btn-default' %>
</div>
<div class="col-xs-2">
  <%= button_to 'Yes', { controller: "users", action: "create", params: params }, class: 'btn btn-success' %>
</div>
